@font-face {
  font-family: 'icomoon';
  src: url('/fonts/eot/icomoon.eot?1e6g8t');
  src: url('/fonts/eot/icomoon.eot?1e6g8t#iefix') format('embedded-opentype'), url('/fonts/ttf/icomoon.ttf?1e6g8t') format('truetype'),
    url('/fonts/woff/icomoon.woff?1e6g8t') format('woff'), url('/fonts/svg/icomoon.svg?1e6g8t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.base {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edit-alt-plus:before {
  content: '\ea64';
}
.coin:before {
  content: '\ea62';
  color: rgb(254, 193, 17);
}
.coin:after {
  content: '\ea63';
  margin-left: -0.91015625em;
  color: rgb(89, 90, 90);
}
.instagram:before {
  content: '\e900';
}
.sbon-coin:before {
  content: '\ea68';
}
.toman-bold:before {
  content: '\ea65';
}
.toman-regular:before {
  content: '\ea66';
}
.alarm-clock:before {
  content: '\e901';
}
.align-center:before {
  content: '\e902';
}
.align-justify:before {
  content: '\e903';
}
.align-left:before {
  content: '\e904';
}
.align-right:before {
  content: '\e905';
}
.ambulance:before {
  content: '\e906';
}
.angle-double-left:before {
  content: '\e907';
}
.angle-double-right:before {
  content: '\e908';
}
.angle-double-small-left:before {
  content: '\e909';
}
.angle-double-small-right:before {
  content: '\e90a';
}
.angle-down:before {
  content: '\e90b';
}
.angle-left:before {
  content: '\e90c';
}
.angle-right:before {
  content: '\e90d';
}
.angle-small-down:before {
  content: '\e90e';
}
.angle-small-left:before {
  content: '\e90f';
}
.angle-small-right:before {
  content: '\e910';
}
.angle-small-up:before {
  content: '\e911';
}
.angle-up:before {
  content: '\e912';
}
.apps:before {
  content: '\e913';
}
.apps-add:before {
  content: '\e914';
}
.apps-delete:before {
  content: '\e915';
}
.apps-sort:before {
  content: '\e916';
}
.archive:before {
  content: '\e917';
}
.arrow-down:before {
  content: '\e918';
}
.arrow-left:before {
  content: '\e919';
}
.arrow-right:before {
  content: '\e91a';
}
.arrow-small-down:before {
  content: '\e91b';
}
.arrow-small-left:before {
  content: '\e91c';
}
.arrow-small-right:before {
  content: '\e91d';
}
.arrow-small-up:before {
  content: '\e91e';
}
.arrow-up:before {
  content: '\e91f';
}
.asterisk:before {
  content: '\e920';
}
.backpack:before {
  content: '\e921';
}
.badge:before {
  content: '\e922';
}
.ban:before {
  content: '\e923';
}
.band-aid:before {
  content: '\e924';
}
.bank:before {
  content: '\e925';
}
.barber-shop:before {
  content: '\e926';
}
.baseball:before {
  content: '\e927';
}
.basketball:before {
  content: '\e928';
}
.bell:before {
  content: '\e929';
}
.bell-ring:before {
  content: '\e92a';
}
.bell-school:before {
  content: '\e92b';
}
.billiard:before {
  content: '\e92c';
}
.bold:before {
  content: '\e92d';
}
.book:before {
  content: '\e92e';
}
.book-alt:before {
  content: '\e92f';
}
.bookmark:before {
  content: '\e930';
}
.bowling:before {
  content: '\e931';
}
.box:before {
  content: '\e932';
}
.box-alt:before {
  content: '\e933';
}
.briefcase:before {
  content: '\e934';
}
.broom:before {
  content: '\e935';
}
.browser:before {
  content: '\e936';
}
.brush:before {
  content: '\e937';
}
.bug:before {
  content: '\e938';
}
.building:before {
  content: '\e939';
}
.bulb:before {
  content: '\e93a';
}
.calculator:before {
  content: '\e93b';
}
.calendar:before {
  content: '\e93c';
}
.camera:before {
  content: '\e93d';
}
.caret-down:before {
  content: '\e93e';
}
.caret-left:before {
  content: '\e93f';
}
.caret-right:before {
  content: '\e940';
}
.caret-up:before {
  content: '\e941';
}
.check:before {
  content: '\e942';
}
.checkbox:before {
  content: '\e943';
}
.chess:before {
  content: '\e944';
}
.circle:before {
  content: '\e945';
}
.circle-small:before {
  content: '\e946';
}
.clip:before {
  content: '\e947';
}
.clock:before {
  content: '\e948';
}
.cloud:before {
  content: '\e949';
}
.cloud-check:before {
  content: '\e94a';
}
.cloud-disabled:before {
  content: '\e94b';
}
.cloud-download:before {
  content: '\e94c';
}
.cloud-share:before {
  content: '\e94d';
}
.cloud-upload:before {
  content: '\e94e';
}
.comment:before {
  content: '\e94f';
}
.comment-alt:before {
  content: '\e950';
}
.compress:before {
  content: '\e951';
}
.compress-alt:before {
  content: '\e952';
}
.computer:before {
  content: '\e953';
}
.cookie:before {
  content: '\e954';
}
.copy:before {
  content: '\e955';
}
.copy-alt:before {
  content: '\e956';
}
.copyright:before {
  content: '\e957';
}
.cream:before {
  content: '\e958';
}
.credit-card:before {
  content: '\e959';
}
.cross:before {
  content: '\e95a';
}
.cross-circle:before {
  content: '\e95b';
}
.cross-small:before {
  content: '\e95c';
}
.crown:before {
  content: '\e95d';
}
.cursor:before {
  content: '\e95e';
}
.cursor-finger:before {
  content: '\e95f';
}
.cursor-plus:before {
  content: '\e960';
}
.cursor-text:before {
  content: '\e961';
}
.cursor-text-alt:before {
  content: '\e962';
}
.dart:before {
  content: '\e963';
}
.dashboard:before {
  content: '\e964';
}
.database:before {
  content: '\e965';
}
.data-transfer:before {
  content: '\e966';
}
.delete:before {
  content: '\e967';
}
.diamond:before {
  content: '\e968';
}
.dice:before {
  content: '\e969';
}
.diploma:before {
  content: '\e96a';
}
.disk:before {
  content: '\e96b';
}
.doctor:before {
  content: '\e96c';
}
.document:before {
  content: '\e96d';
}
.document-signed:before {
  content: '\e96e';
}
.dollar:before {
  content: '\e96f';
}
.download:before {
  content: '\e970';
}
.duplicate:before {
  content: '\e971';
}
.earnings:before {
  content: '\e972';
}
.edit:before {
  content: '\e973';
}
.edit-alt:before {
  content: '\e974';
}
.e-learning:before {
  content: '\e975';
}
.envelope:before {
  content: '\e976';
}
.euro:before {
  content: '\e977';
}
.exclamation:before {
  content: '\e978';
}
.expand:before {
  content: '\e979';
}
.eye:before {
  content: '\e97a';
}
.eye-crossed:before {
  content: '\e97b';
}
.eye-dropper:before {
  content: '\e97c';
}
.feather:before {
  content: '\e97d';
}
.file:before {
  content: '\e97e';
}
.file-add:before {
  content: '\e97f';
}
.file-ai:before {
  content: '\e980';
}
.file-check:before {
  content: '\e981';
}
.file-delete:before {
  content: '\e982';
}
.file-eps:before {
  content: '\e983';
}
.file-gif:before {
  content: '\e984';
}
.file-music:before {
  content: '\e985';
}
.file-psd:before {
  content: '\e986';
}
.fill:before {
  content: '\e987';
}
.film:before {
  content: '\e988';
}
.filter:before {
  content: '\e989';
}
.fingerprint:before {
  content: '\e98a';
}
.flag:before {
  content: '\e98b';
}
.flame:before {
  content: '\e98c';
}
.flip-horizontal:before {
  content: '\e98d';
}
.folder:before {
  content: '\e98e';
}
.folder-add:before {
  content: '\e98f';
}
.following:before {
  content: '\e990';
}
.football:before {
  content: '\e991';
}
.form:before {
  content: '\e992';
}
.forward:before {
  content: '\e993';
}
.ftp:before {
  content: '\e994';
}
.gallery:before {
  content: '\e995';
}
.glasses:before {
  content: '\e996';
}
.globe:before {
  content: '\e997';
}
.globe-alt:before {
  content: '\e998';
}
.golf:before {
  content: '\e999';
}
.graduation-cap:before {
  content: '\e99a';
}
.graphic-tablet:before {
  content: '\e99b';
}
.grid:before {
  content: '\e99c';
}
.grid-alt:before {
  content: '\e99d';
}
.gym:before {
  content: '\e99e';
}
.headphones:before {
  content: '\e99f';
}
.headset:before {
  content: '\e9a0';
}
.heart:before {
  content: '\e9a1';
}
.home:before {
  content: '\e9a2';
}
.hourglass:before {
  content: '\e9a3';
}
.hourglass-end:before {
  content: '\e9a4';
}
.ice-skate:before {
  content: '\e9a5';
}
.id-badge:before {
  content: '\e9a6';
}
.inbox:before {
  content: '\e9a7';
}
.incognito:before {
  content: '\e9a8';
}
.indent:before {
  content: '\e9a9';
}
.infinity:before {
  content: '\e9aa';
}
.info:before {
  content: '\e9ab';
}
.interactive:before {
  content: '\e9ac';
}
.interlining:before {
  content: '\e9ad';
}
.interrogation:before {
  content: '\e9ae';
}
.italic:before {
  content: '\e9af';
}
.jpg:before {
  content: '\e9b0';
}
.key:before {
  content: '\e9b1';
}
.keyboard:before {
  content: '\e9b2';
}
.label:before {
  content: '\e9b3';
}
.laptop:before {
  content: '\e9b4';
}
.lasso:before {
  content: '\e9b5';
}
.layers:before {
  content: '\e9b6';
}
.layout-fluid:before {
  content: '\e9b7';
}
.letter-case:before {
  content: '\e9b8';
}
.life-ring:before {
  content: '\e9b9';
}
.line-width:before {
  content: '\e9ba';
}
.link:before {
  content: '\e9bb';
}
.lipstick:before {
  content: '\e9bc';
}
.list:before {
  content: '\e9bd';
}
.list-check:before {
  content: '\e9be';
}
.location-alt:before {
  content: '\e9bf';
}
.lock:before {
  content: '\e9c0';
}
.lock-alt:before {
  content: '\e9c1';
}
.magic-wand:before {
  content: '\e9c2';
}
.makeup-brush:before {
  content: '\e9c3';
}
.marker:before {
  content: '\e9c4';
}
.marker-time:before {
  content: '\e9c5';
}
.medicine:before {
  content: '\e9c6';
}
.megaphone:before {
  content: '\e9c7';
}
.menu-burger:before {
  content: '\e9c8';
}
.menu-dots:before {
  content: '\e9c9';
}
.menu-dots-vertical:before {
  content: '\e9ca';
}
.microphone:before {
  content: '\e9cb';
}
.minus:before {
  content: '\e9cc';
}
.minus-small:before {
  content: '\e9cd';
}
.mobile:before {
  content: '\e9ce';
}
.mode-landscape:before {
  content: '\e9cf';
}
.mode-portrait:before {
  content: '\e9d0';
}
.money:before {
  content: '\e9d1';
}
.mouse:before {
  content: '\e9d2';
}
.music:before {
  content: '\e9d3';
}
.music-alt:before {
  content: '\e9d4';
}
.network:before {
  content: '\e9d5';
}
.network-cloud:before {
  content: '\e9d6';
}
.notebook:before {
  content: '\e9d7';
}
.opacity:before {
  content: '\e9d8';
}
.package:before {
  content: '\e9d9';
}
.paint-brush:before {
  content: '\e9da';
}
.palette:before {
  content: '\e9db';
}
.paper-plane:before {
  content: '\e9dc';
}
.password:before {
  content: '\e9dd';
}
.pause:before {
  content: '\e9de';
}
.pencil:before {
  content: '\e9df';
}
.pharmacy:before {
  content: '\e9e0';
}
.physics:before {
  content: '\e9e1';
}
.picture:before {
  content: '\e9e2';
}
.ping-pong:before {
  content: '\e9e3';
}
.play:before {
  content: '\e9e4';
}
.play-alt:before {
  content: '\e9e5';
}
.playing-cards:before {
  content: '\e9e6';
}
.plus:before {
  content: '\e9e7';
}
.plus-small:before {
  content: '\e9e8';
}
.poker-chip:before {
  content: '\e9e9';
}
.portrait:before {
  content: '\e9ea';
}
.pound:before {
  content: '\e9eb';
}
.power:before {
  content: '\e9ec';
}
.presentation:before {
  content: '\e9ed';
}
.print:before {
  content: '\e9ee';
}
.protractor:before {
  content: '\e9ef';
}
.pulse:before {
  content: '\e9f0';
}
.quote-right:before {
  content: '\e9f1';
}
.rec:before {
  content: '\e9f2';
}
.receipt:before {
  content: '\e9f3';
}
.rectangle-horizontal:before {
  content: '\e9f4';
}
.rectangle-panoramic:before {
  content: '\e9f5';
}
.rectangle-vertical:before {
  content: '\e9f6';
}
.redo:before {
  content: '\e9f7';
}
.reflect:before {
  content: '\e9f8';
}
.refresh:before {
  content: '\e9f9';
}
.resize:before {
  content: '\e9fa';
}
.resources:before {
  content: '\e9fb';
}
.rewind:before {
  content: '\e9fc';
}
.rocket:before {
  content: '\e9fd';
}
.rotate-right:before {
  content: '\e9fe';
}
.rugby:before {
  content: '\e9ff';
}
.scale:before {
  content: '\ea00';
}
.school:before {
  content: '\ea01';
}
.school-bus:before {
  content: '\ea02';
}
.scissors:before {
  content: '\ea03';
}
.screen:before {
  content: '\ea04';
}
.search:before {
  content: '\ea05';
}
.search-alt:before {
  content: '\ea06';
}
.settings:before {
  content: '\ea07';
}
.settings-sliders:before {
  content: '\ea08';
}
.share:before {
  content: '\ea09';
}
.shield:before {
  content: '\ea0a';
}
.shield-check:before {
  content: '\ea0b';
}
.shield-exclamation:before {
  content: '\ea0c';
}
.shield-interrogation:before {
  content: '\ea0d';
}
.shield-plus:before {
  content: '\ea0e';
}
.shop:before {
  content: '\ea0f';
}
.shopping-bag:before {
  content: '\ea10';
}
.shopping-bag-add:before {
  content: '\ea11';
}
.shopping-cart:before {
  content: '\ea12';
}
.shopping-cart-add:before {
  content: '\ea13';
}
.shopping-cart-check:before {
  content: '\ea14';
}
.shuffle:before {
  content: '\ea15';
}
.signal-alt:before {
  content: '\ea16';
}
.signal-alt-1:before {
  content: '\ea17';
}
.signal-alt-2:before {
  content: '\ea18';
}
.sign-in:before {
  content: '\ea19';
}
.sign-out:before {
  content: '\ea1a';
}
.skateboard:before {
  content: '\ea1b';
}
.smartphone:before {
  content: '\ea1c';
}
.soap:before {
  content: '\ea1d';
}
.spa:before {
  content: '\ea1e';
}
.speaker:before {
  content: '\ea1f';
}
.spinner:before {
  content: '\ea20';
}
.spinner-alt:before {
  content: '\ea21';
}
.square:before {
  content: '\ea22';
}
.square-root:before {
  content: '\ea23';
}
.star:before {
  content: '\ea24';
}
.stats:before {
  content: '\ea25';
}
.stethoscope:before {
  content: '\ea26';
}
.sticker:before {
  content: '\ea27';
}
.stop:before {
  content: '\ea28';
}
.stopwatch:before {
  content: '\ea29';
}
.subtitles:before {
  content: '\ea2a';
}
.surfing:before {
  content: '\ea2b';
}
.sword:before {
  content: '\ea2c';
}
.syringe:before {
  content: '\ea2d';
}
.tablet:before {
  content: '\ea2e';
}
.target:before {
  content: '\ea2f';
}
.tennis:before {
  content: '\ea30';
}
.test:before {
  content: '\ea31';
}
.test-tube:before {
  content: '\ea32';
}
.text:before {
  content: '\ea33';
}
.text-check:before {
  content: '\ea34';
}
.thumbs-down:before {
  content: '\ea35';
}
.thumbs-up:before {
  content: '\ea36';
}
.ticket:before {
  content: '\ea37';
}
.time-add:before {
  content: '\ea38';
}
.time-check:before {
  content: '\ea39';
}
.time-delete:before {
  content: '\ea3a';
}
.time-fast:before {
  content: '\ea3b';
}
.time-forward:before {
  content: '\ea3c';
}
.time-forward-sixty:before {
  content: '\ea3d';
}
.time-forward-ten:before {
  content: '\ea3e';
}
.time-half-past:before {
  content: '\ea3f';
}
.time-oclock:before {
  content: '\ea40';
}
.time-past:before {
  content: '\ea41';
}
.time-quarter-past:before {
  content: '\ea42';
}
.time-quarter-to:before {
  content: '\ea43';
}
.time-twenty-four:before {
  content: '\ea44';
}
.tool-crop:before {
  content: '\ea45';
}
.tool-marquee:before {
  content: '\ea46';
}
.tooth:before {
  content: '\ea47';
}
.transform:before {
  content: '\ea48';
}
.trash:before {
  content: '\ea49';
}
.treatment:before {
  content: '\ea4a';
}
.trophy:before {
  content: '\ea4b';
}
.umbrella:before {
  content: '\ea4c';
}
.underline:before {
  content: '\ea4d';
}
.undo:before {
  content: '\ea4e';
}
.unlock:before {
  content: '\ea4f';
}
.upload:before {
  content: '\ea50';
}
.usb-drive:before {
  content: '\ea51';
}
.user:before {
  content: '\ea52';
}
.user-add:before {
  content: '\ea53';
}
.user-delete:before {
  content: '\ea54';
}
.user-remove:before {
  content: '\ea55';
}
.users:before {
  content: '\ea56';
}
.user-time:before {
  content: '\ea57';
}
.vector:before {
  content: '\ea58';
}
.vector-alt:before {
  content: '\ea59';
}
.video-camera:before {
  content: '\ea5a';
}
.volleyball:before {
  content: '\ea5b';
}
.volume:before {
  content: '\ea5c';
}
.wifi-alt:before {
  content: '\ea5d';
}
.world:before {
  content: '\ea5e';
}
.yen:before {
  content: '\ea5f';
}
.zoom-in:before {
  content: '\ea60';
}
.zoom-out:before {
  content: '\ea61';
}
